<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    data-th-fragment="layoutEncheres(navBar, titrePage, contenuPage, linkcss)">

<head>
    <meta charset="UTF-8">
    <title>ENI-Enchères</title>
    <link rel="stylesheet" data-th-href="@{/css/skeleton.css}">
    <link data-th-replace="${linkcss} ?: ~{}"></link>
</head>
<header>
    <h1 id="nav-title">
        <a href="/">ENI-Enchères</a>
    </h1>
    <nav data-th-replace="${navBar} ?: ~{}"></nav>
</header>
<body>
    <div data-th-replace="${titrePage} ?: ~{}"></div>
    <main class="center-main" data-th-replace="${contenuPage} ?: ~{}">Contenu vide</main>
</body>
</html>
