<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    data-th-fragment="layoutEncheres(navBar, titrePage, contenuPage, linkcss)">

<head>
    <meta charset="UTF-8">
    <title>ENI-Enchères</title>
    <link rel="stylesheet" data-th-href="@{/css/skeleton.css}"/> 
    <link data-th-replace="${linkcss} ?: ~{}"></link>
</head>
<body>
    <header>
        <h1 id="nav-title">
            <a href="/encheres">ENI-Enchères</a>
        </h1>
        <nav data-th-replace="${navBar} ?: ~{}"></nav>
    </header>
    <main>
        <div class="main-title" data-th-replace="${titrePage} ?: ~{}"></div>
        <div class="center-main" data-th-replace="${contenuPage} ?: ~{}">Contenu vide</div>
    </main>
    <footer></footer>
</body>
</html>
