<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layouts/layout :: layoutEncheres(
                    navBar=~{::nav},
                    titrePage=~{::h2},
                    contenuPage=~{:: main},
                    linkcss=~{})}">

<head>
    <meta charset="UTF-8">
    <title>ENI-Enchères</title>
    
</head>
<header>
    <nav data-th-replace="~{fragments/fragments-navbar::frag-navbar}">
    </nav>
</header>
<body>
    <h2>Liste des enchères</h2>
    <!-- Section de contenu de la page -->
        <main class="center-main">

            <h3>Filtres :</h3>

            <form method="GET" >
	              <label for="categorie">Categorie :</label>
				      <select  id="Categorie" name="Categorie">
				        <option 
				        data-th-each="category : ${categoriesInSession}" 
				        data-th-text="${category.libelle}" 
				        data-th-value="${category.noCategorie}"></option>
				      </select>
				<button type=submit>
	            Rechercher
				</button>
            </form>
            
            <div>
            	<dl data-th-each="articleVendu : ${ArticlesVendus}" >
            	
            		<dd>
    					<a 	data-th-text="${articleVendu.nomArticle}" 
      						data-th-href="@{/detailArticle(noArticle=${articleVendu.noArticle})}">
   						</a>
					</dd>
            		<dd data-th-text="'Prix : ' + ${articleVendu.prixVente}"></dd>
            		<dd data-th-text="' Fin de l\'enchere :  ' + ${articleVendu.dateFinEncheres}"></dd>
            		<dd data-th-text="'Vendeur : ' + ${articleVendu.vendeur.pseudo}"></dd> 
            	</dl>
            </div>
            
        
        </main>
</body>
</html>
