<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layouts/layout :: layoutEncheres(
                    navBar=~{::nav},
                    titrePage=~{::h2},
                    contenuPage=~{:: .center-main},
                    linkcss=~{::#css})}">

<head>
    <meta charset="UTF-8">
    <title>ENI-Enchères</title>
    <link id="css" rel="stylesheet" href="/encheres/css/index.css">
</head>
<header>
    <nav data-th-replace="~{fragments/fragments-navbar::frag-navbar}">
    </nav>
</header>
<body>
    <h2>Liste des enchères</h2>
        <div class="center-main">
			<div class="main-top">
            <h3>Filtres :</h3>

            <form method="GET" >
				<div class="form-group">
				    <label for="searchTerm">Rechercher un article :</label>
				    <input class="value" type="text" id="searchTerm" name="searchTerm" placeholder="Nom de l'article">
            </div>
            <div class="form-group">
	             	 <label for="categorie">Categorie :</label>
				      <select  id="Categorie" name="Categorie">
      				    <option value="">Toutes les catégories</option>
				        <option 
				        data-th-each="category : ${categoriesInSession}" 
				        data-th-text="${category.libelle}" 
				        data-th-value="${category.noCategorie}">
				        </option>
				      </select>
				
					  <!-- Filtre Ventes -->
 			   			<h4>Ventes :</h4>
						<label><input type="checkbox" name="ouvertes" value="true">Enchères ouvertes</label><br>
						<label><input type="checkbox" name="enCours" value="true">Mes enchères en cours</label><br>
						<label><input type="checkbox" name="remportees" value="true">Mes enchères remportés</label><br>

						<label><input type="checkbox" name="venteEncours" value="true">Ventes en cours</label><br>
						<label><input type="checkbox" name="venteNonDebutes" value="true">Ventes non débutées</label><br>
						<label><input type="checkbox" name="venteTerminees" value="true">Ventes terminées</label><br>
						<button type=submit>Rechercher</button>
            </form>
            </div>
			<div class="cards-group">
            	<div class="cards" data-th-each="articleVendu : ${ArticlesVendus}" >
					<div class="form-group">
						<div class="label">
							<p ><a 	data-th-text="${articleVendu.nomArticle}" 
								data-th-href="@{/detailArticle(noArticle=${articleVendu.noArticle})}">
							 </a></p>
						</div>
					</div>


					<div class="form-group">
						<div class="label">
                        	<p >Prix&nbsp;: </p>
						</div>
						<div class="value">
							<p data-th-text="${articleVendu.prixVente}">Value 1</p>
						</div>
                    </div>

				
				<div class="form-group">
					<div class="label">
						<p >Fin de l'enchere&nbsp;: </p>
					</div>
					<div class="value">
						<p th:text="${#temporals.format(articleVendu.dateFinEncheres, 'dd/MM/yyyy HH:mm')}">Value 1</p>
					</div>
				</div>

				<div class="form-group">
					<div class="label">
						<p >Vendeur&nbsp;: </p>
					</div>
					<div class="value">
						<p ><a 	data-th-text="${articleVendu.vendeur.pseudo}" 
							data-th-href="@{/detailsProfil(pseudo=${articleVendu.vendeur.pseudo})}">
						 </a></p>
					</div>
				</div>
			</div>
		</div>
        </div>
</body>
</html>
