<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layouts/layout :: layoutEncheres(
                    navBar=~{},
                    titrePage=~{::h2},
                    contenuPage=~{:: main},
                    linkcss=~{})}"
>
  <head>
    <meta charset="UTF-8" />
    <title>ENI-Enchères</title>
  </head>
  <header>
    <nav data-th-replace="~{fragments/fragments-navbar::frag-navbar}"></nav>
  </header>
  <body>
    <h2>Détail vente</h2>
    <main class="center-main">
    	<div>
            	<dl>
            		<dd data-th-text=" 'Article : ' + ${articleVendu.nomArticle}"></dd>
            		<dd data-th-text="'Description : ' + ${articleVendu.description}"></dd>
            		<dd data-th-text="' Catégorie :  ' + ${articleVendu.categorie.libelle}"></dd>
            		<dd data-th-text="'Mise à prix : ' + ${articleVendu.miseAPrix}"></dd>
          			<dd data-th-text="'Fin de l\'enchère : ' + ${articleVendu.dateFinEncheres}"></dd>
          			<dd data-th-text="'Retrait : '"></dd>
            		<dd data-th-utext="${articleVendu.retrait.rue} +' <br/>' + ${articleVendu.retrait.codePostal} +' ' + ${articleVendu.retrait.ville}"></dd>
            	</dl>       	
            </div>
    
      
      
      
    </main>
  </body>
</html>
