<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layouts/layout :: layoutEncheres(
                    navBar=~{},
                    titrePage=~{::h2},
                    contenuPage=~{:: .center-main},
                    linkcss=~{})}"
>
  <head>
    <meta charset="UTF-8" />
    <title>ENI-Enchères</title>
  </head>
  <header>
    <nav data-th-replace="~{fragments/fragments-navbar::frag-navbar}"></nav>
  </header>
    <h2>Détail vente</h2>
    <div class="center-main">
    	<div>
            	<dl>
            		<dd data-th-text=" 'Article : ' + ${articleVendu.nomArticle}"></dd>
            		<dd data-th-text="'Description : ' + ${articleVendu.description}"></dd>
                <dd data-th-text="' Catégorie :  ' + ${articleVendu.categorie.libelle}"></dd>
            		
                <dd data-th-text="'Meilleur offre : ' + ${articleVendu.prixVente}"></dd>
                <dd data-th-text="'Mise à prix : ' + ${articleVendu.miseAPrix}"></dd>
          			<dd data-th-text="'Fin de l\'enchère : ' + ${articleVendu.dateFinEncheres}"></dd>
          			<dd data-th-text="'Retrait : '"></dd>
            		<dd data-th-text="${articleVendu.retrait.rue} +' <br/>' + ${articleVendu.retrait.codePostal} +' ' + ${articleVendu.retrait.ville}"></dd>
            	</dl>       	
            </div>
            
            <sec:authorize access="isAuthenticated()">
              <dd>
              <form data-th-action="@{/detailArticle?noArticle=}+${articleVendu.noArticle}" method="post">
                <label for="proposition">Ma proposition :</label>
                <input hidden type="number" name="noArticle" value="${articleVendu.noArticle}">
                <input type="number" name="proposition" id="proposition">
                <input type="submit" value="submit" />
              </form>
            </dd>
            </sec:authorize>
          </div>
</html>
