<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Inscription</title>
</head>
<body>
	<h1>Mon Profil</h1>
	<form data-th-action="@{/inscription}" data-th-object=${utilisateur}
		method="post">

		<ul class="formulaireCreat">
			<li><label for="pseudo">Pseudo:</label><input type="text"
				id="pseudo" name="pseudo" required/></li>


			<li><label for="nom">Nom:</label><input type="text" id="nom"
				name="nom" required/></li>


			<li><label for="prenom">Prénom:</label><input type="text"
				id="prenom" name="prenom" required/></li>


			<li><label for="email">Email:</label><input type="text"
				id="email" name="email" required/></li>


			<li><label for="telephone">Téléphone:</label><input type="text"
				id="telephone" name="telephone" required/></li>


			<li><label for="rue">Rue:</label><input type="text" id="rue"
				name="rue" required/></li>


			<li><label for="codePostal">Code postal:</label><input
				type="text" id="codePostal" name="codePostal" required/></li>


			<li><label for="ville">Ville:</label><input type="text"
				id="ville" name="ville" required/></li>


			<li><label for="mdp">Mot de passe</label><input type="password"
				id="mdp" name="password" placeholder="********" required/></li>


			<li><label for="mdpConfirm" >Confirmation:</label><input
				type="password" id="mdpConfirm" name="motDePasse"
				placeholder="********" required /></li>

		</ul>

		<ul>
			<li><input type="submit" value="Créer" /></li>
			<li><input type="reset" value="Annuler" /></li>
		</ul>


	</form>

</body>
</html>