<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layouts/layout :: layoutEncheres(
                    navBar=~{},
                    titrePage=~{::h2},
                    contenuPage=~{:: main},
                    linkcss=~{})}"
>
  <head>
    <meta charset="UTF-8" />
    <title>ENI-Enchères</title>
  </head>
  <header>
    <nav data-th-replace="~{fragments/fragments-navbar::frag-navbar}"></nav>
  </header>
  <body>
    <h2>Nouvelle vente</h2>
    <main class="center-main">
      <form data-th-action="@{/vendreUnArticle}" method="post">
 <!--     <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}" /> -->
      <label for="article">Article :</label>
      <input
        id="article"
        type="text"
        name="nomArticle"
      />
  <!--    <span data-th-if="${#fields.hasErrors('name')}" th:errors="*{name}"></span> -->

      <label for="description">Description :</label>
      <textarea 
        id="description" 
        name="description"
        rows="3"
        >
      </textarea>


      <label for="categorie">Categorie :</label>
      <select  id="categorie" name="categorie">
        <option 
        data-th-each="category : ${categoriesInSession}" 
        data-th-text="${category.libelle}" 
        data-th-value="${category.noCategorie}"></option>
      </select>

      <label for="miseAPrix">Mise à prix :</label>
      <input
        id="miseAPrix"
        type="number"
        name="miseAPrix"
      />

      <label for="dateDebutEncheres">Début de l'enchère :</label>
      <input type="datetime-local" name="dateDebutEncheres" id="dateDebutEncheres" />

      <label for="dateFinEncheres">Fin de l'enchère :</label>
      <input type="datetime-local" name="dateFinEncheres" id="dateFinEncheres" />
      <fieldset>
        <legend>Retrait</legend>
        <div data-th-field="${retrait}" data-th-name="retrait">
          <label for="rue">Rue :</label>
          <input id="rue" 
          type="text" 
          name="rue"
          
          data-th-value="${userInSession.rue != null ? userInSession.rue : ''}"
          />

          <label for="codePostal">Code postal :</label>
          <input
            id="codePostal"
            type="text"
            name="codePostal"
            
            data-th-value="${userInSession.codePostal != null ? userInSession.codePostal : ''}"
          />

          <label for="ville">Ville :</label>
          <input
            id="ville"
            type="text"
            name="ville"
            
            data-th-value="${userInSession.ville != null ? userInSession.ville : ''}"
          />
        </div>
      </fieldset>
      <input type="submit">
      <input type="reset" value="Reset" />
    </form>
    </main>
  </body>
</html>
