<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/layout :: layoutEncheres(
                    navBar=~{},
                    titrePage=~{::h1},
                    contenuPage=~{::form},
                    linkcss=~{::.css})}">

<head>
    <meta charset="UTF-8">
    <title>Modifier profil</title>
    <link class="css" rel="stylesheet" href="/encheres/css/general.css">
    <link class="css" rel="stylesheet" href=/encheres/css/create-article.css>
</head>
<body>
<h2>Modifier Profil</h2>
<form data-th-action="@{/detailsProfil/modifierProfil}" data-th-object="${userInSession}"
      method="post">

    <div class="form-group">
        <label for="pseudo">Pseudo&nbsp;:</label>
        <input id="pseudo" type="text" data-th-field="*{pseudo}">
        <span
                data-th-if="${#fields.hasErrors('pseudo')}"
                data-th-errorclass="error" data-th-errors="*{pseudo}"></span>
    </div>

    <div class="form-group">
        <label for="nom">Nom&nbsp;:</label>
        <input id="nom" type="text" data-th-field="*{nom}">
    </div>

    <div class="form-group">
        <label for="prenom">Prénom&nbsp;:</label>
        <input id="prenom" type="text" data-th-field="*{prenom}">
    </div>

    <div class="form-group">
        <label for="email">E-mail&nbsp;:</label>
        <input id="email" type="text" data-th-field="*{email}">
    </div>

    <div class="form-group">
        <label for="telephone">Téléphone&nbsp;:</label>
        <input id="telephone" type="text" data-th-field="*{telephone}">
    </div>

    <div class="form-group">
        <label for="rue">Rue&nbsp;:</label>
        <input id="rue" type="text" data-th-field="*{rue}">
    </div>
    <div class="form-group">
        <label for="codePostal">Code Postal&nbsp;:</label>
        <input id="codePostal" type="text" data-th-field="*{codePostal}">
    </div>
    <div class="form-group">
        <label for="ville">Ville&nbsp;:</label>
        <input id="ville" type="text" data-th-field="*{ville}">
    </div>


    <fieldset>
        <legend>Changement de mot de passe</legend>
        <div class="form-group">
            <label for="newPassword">Nouveau mot de passe&nbsp;:</label>
            <input name="newpassword" id="newPassword" type="password">
        </div>
        <div class="form-group">
            <label for="newpasswordconfirm">Confirmation&nbsp;:</label>
            <input name="newpasswordconfirm" id="newpasswordconfirm" type="password">
        </div>

    </fieldset>
    <div class="form-group">
        <label for="motDePasse">Mot de passe actuel pour valider les changements&nbsp;:</label>
        <input name="motDePasse" id="motDePasse" type="password">
    </div>
    <div class="errors form-group" data-th-if="${errorMessage}" id="alert-danger">
        <p th:utext="${errorMessage.replaceAll('\n', '<br/>')}"></p>
    </div>
    <div class="button-group">
        <input type="submit" value="Envoyer les modifications">
    </div>
</form>
</body>
</html>