/*header {
    font-size: 1.3em;
    margin: 1rem 1rem;
    position: absolute;
} */

@media screen and (max-width: 1216px) {
    header {
        position: static;
    }
}

main, .main-top {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: clamp(350px, 90vw, 600px);
    margin: 0 auto;
    padding: 1.3em 0;
}

@media screen and (min-width: 1216px) {
    main, .main-top {
        margin-top: 1.3em;
    }
}

.center-main {
    display: flex;
    flex-direction: column;
}

fieldset {
    margin: 0 0.5em 0 0.5em;
    border: 1px solid #ddd;
    padding: 1em;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0.5em;
}

legend {
    font-weight: bold;
    font-size: 1.2em;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1em;
    margin: 0 auto;
}

label, .label {
    width: 35%;
    font-weight: bold;
    color: #333;
    margin-left: 1em;
}

input, select, textarea, .value {
    width: 55%;
    padding: 10px;
    margin-right: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
    transition: border-color 0.3s ease;
}

.select-group {
    margin-bottom: 1.5em;
}

input:focus, select:focus, textarea:focus {
    border-color: #B5CFB7;
    outline: #B5CFB7 solid 2px;
}

.button-group > input {
    display: block;
    text-align: center;
    padding: 1em;
    background-color: #004D40;
    border: 2px solid #004D40;
    color: #ffffff;
    border-radius: 25px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-shadow: none;
    font-weight: 400;
}

.button-group > input:hover {
    background-color: #ffffff;
    color: #004D40;
    border: 2px solid #004D40;
}

.error-bloc {
    min-height: 1.5em;
    color: red;
    text-align: center;
    flex-basis: 100%;
}

p {
    font-size: 0, 8em;
}