<nav xmlns:th="http://www.thymeleaf.org" data-th-fragment="frag-navbar">
	<ul>
		<li sec:authorize="!isAuthenticated()"><a
			href="/encheres/inscription">S'inscrire - Se connecter</a></li>
		<sec:authorize access="isAuthenticated()">
			<li><a href="/encheres">Enchères</a></li>
			<li><a href="/encheres/vendreUnArticle">Vendre un article</a></li>
			<li><a href="/encheres/profil">Mon profil</a></li>

			<form data-th-action="@{/logout}" method="post">
				<li sec:authorize="isAuthenticated()"><input type="submit"
					value="Déconnexion" /></li>
			</form>
		</sec:authorize>
	</ul>
</nav>